:root {
  --principal: #c81e2c; 
  --secundario: #6c6f73; 
  --fondo: #f2f2f2; 
  --texto: #4a4a4a; 
  --oscuro: #0d0d0d; 
  --radio: 8px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Darker Grotesque", sans-serif;
  margin: 0;
  background: var(--fondo);
  color: var(--texto);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
